{{ define "main" }}
  {{ with .Pages }}

    <div class="max-w-3xl xl:max-w-6xl mx-auto py-4 px-4 md:px-0">
      {{ if partialCached "tnd-env/IsNot" "productionn" "production" }}
        <div class="border p-4 mb-4">
          We've got {{ len . }} photos.
        </div>
      {{ end }}

      {{ $paginator := $.Paginate . 40 }}
      <div class="grid my-8 grid-cols-2 md:grid-cols-5 gap-4">
        {{ range $paginator.Pages }}
          {{ partial "photo_li" . }}
        {{ end }}
      </div>
      {{ template "_internal/pagination.html" $ }}
    </div>
  {{ end }}
{{ end }}