<div class="inline-block flex xl:flex-col mx-8 text-center justify-between text-lg text-grey-dark xl:mt-32">
  {{ with .PrevInSection }}
    <a href="{{ .URL }}" class="lg:inline-block  xl:mt-4  hover:text-white  no-underline color-inherit text-black rounded text-4xl" title="{{ .Title }}">&laquo;</a>
  {{ end }}
  {{ with .NextInSection }}
    <a href="{{ .URL }}" class="lg:inline-block  xl:mt-4  hover:text-white no-underline color-inherit text-black ounded text-4xl" title="{{ .Title }}">&raquo;</a>
  {{ end }}
</div>
<script>
    document.body.onkeyup = function(e){
    {{ if .PrevInSection }}
      if (e.keyCode == '37') { window.location = '{{ .PrevInSection.Permalink }}'; }
    {{ end }}
    {{ if .NextInSection }}
      if (e.keyCode == '39') { window.location = '{{.NextInSection.Permalink }}'; }
    {{ end }}
  };
  </script>
