<div
  id="audioplayer"
  class="js-only player z-50 w-full bg-grey-blue-darkest text-sm text-center text-white w-full my-4 px-4 pt-4 pb-4"
  data-songs="{{ slice . | jsonify }}"
>
  <div class="flex flex-wrap justify-between pb-2">

    <div class="hidden current-time md:inline-block text-grey">
      <span class="amplitude-current-minutes" amplitude-main-current-seconds="true"></span>:
      <span class="amplitude-current-seconds" amplitude-main-current-seconds="true"></span>
    </div>

    <div class="flex flex-wrap items-center justify-center">
      <div class="song-title w-100 py-1 md:py-0 text-grey-light">
        <span data-amplitude-song-info="copy"></span><span class="italic" data-amplitude-song-info="title"></span>
      </div>
      <div class="control-container flex flex-wrap justify-center mx-2 ">
        <div class="amplitude-play-pause cursor-pointer" class="w-4 h-4" amplitude-main-play-pause="true">
          <div class="amplitude-paused-icon">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pause" style="width:1rem;height:1rem;" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z"></path></svg>
          </div>
          <div class="amplitude-playing-icon">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play" style="width:1rem;height:1rem;" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg>
          </div>
        </div>
      </div>
    </div>

    <div class="duration hidden md:inline-block text-grey">
      <span class="amplitude-duration-minutes" amplitude-main-duration-minutes="true">00</span>:
      <span class="amplitude-duration-seconds" amplitude-main-duration-minutes="true">00</span>
    </div>

  </div>

  <progress id="song-played-progress" class="amplitude-song-played-progress h-2 w-full" amplitude-main-song-played-progress="true">
  </progress>
  <div class="progress-hide absolute left-0 bottom-0 w-full h-2 bg-purple-800"></div>
</div>
<style>
  progress {
    border: none;
  }
  progress[value]{
    -webkit-appearance: none;
    appearance: none;
  }
  progress.amplitude-song-played-progress:not([value]) {
    background-color: transparent;
  }

  progress[value]::-moz-progress-bar,
  progress[value]::-webkit-progress-bar{
    background-color: #000;
  }

  progress[value]::-webkit-progress-value {
    background-color: #fff;
  }
  .progress-hide{
    display:none;
  }
  progress[value="0"] + .progress-hide{
    display: block
  }

  .amplitude-paused>.amplitude-paused-icon {
    display: none;

  }

  .amplitude-playing>.amplitude-playing-icon {
    display: none;
    background-color: red;
  }
</style>