{{ define "main" }}
  {{ $paginator := .Paginate (where site.RegularPages "Type" "posts") }}
  <div class="mx-auto min-h-screen grid grid-1-3">
     {{partial "navigation/post-navigation.html" .}}    
    <div class="px-8 py-4 md:py-16 ">             
      <div class="min-h-screen col-gap-lg md:col-count-2 lg:col-count-2 xl:col-count-3">
        {{range $i, $p := $paginator.Pages}}                                  
          {{- .Render "view-list-title" -}}                        
        {{end}}
      </div>
      {{partial "_global/footer.html" .}}     
    </div>
  </div>
{{ end }}


          