<article class="hentry">
    {% if page.title %}
      <div class="small-screen-only">
        <header>
          <h1 class="entry-title">{{ page.title }}</h1>
          {% if page.date %}
      <time class='date' datetime="{{ page.date | date:'%Y-%m-%d' }}">
        <small>
          {{ page.date | date:'%A %b %d, %Y' }}
        </small>
      </time>
    {% endif %}
        </header>
      </div>
    {% endif %}
    {% if page.vimeo %}
      <div class='embed-container'>
        <iframe src='//player.vimeo.com/video/{{ page.vimeo }}?portrait=0&color=333' webkitallowfullscreen mozallowfullscreen frameborder='0' allowfullscreen></iframe>
      </div>
      <hr />
    {% endif %}
    <section class="entry-content prose {% if page.photo_layout %}-{{ page.photo_layout }}{% endif %}">
      {% if page.intro %}
        <div class="small-screen-only">
          {{ page.intro }}
          <hr />
        </div>
      {% endif %}

         {% capture words %}{{ content | number_of_words }}{% endcapture %}
          {% assign words = words | plus: 1 %}
          {% if words > 2 %}
            <div class="copy">
              {{ content }}
            </div>
          {% endif %}

    </section>
  </article>
