<li class="nav-link brand"><a href="/">{{ site.title }}</a></li>
<li class="nav-link"><a href="/">home</a></li>
<li class="nav-link"><a href="/about/">about</a></li>
<li class="nav-link"><a href="/archive/">archive</a></li>
<div class="small-screen-only">
<li class="nav-link"><a href="/family/"{% if page.url contains '/family/' %} class="active"{% endif %}>&raquo; Family</a></li>
<li class="nav-link"><a href="/history/"{% if page.url contains '/history/' %} class="active"{% endif %}>&raquo; History</a></li>
<li class="nav-link"><a href="/snapshot/"{% if page.url contains '/snapshot/' %} class="active"{% endif %}>&raquo; Snapshot</a></li>
</div>

