{{ define "main" }}
  {{$quote := (where .Pages "Type" "quote") | shuffle }}
  <div class="mx-auto min-h-screen grid grid-1-3">
    <div class="bg-grey text-black">
      {{partial "post-navigation.html" .}}
    </div>
    <div>
      <div class="mx-auto max-w-lg py-2 lg:pt-5 px-4 pt-16 pb-16 min-h-screen">      
        {{range first 1 $quote}}
          {{partial "article-type/quote.html" .}}        
        {{end}}
        {{range first 1 .Pages.Reverse}}
          <a href="{{.Permalink}}" class="font-bold bg-primary-color-light hover:bg-primary-color-lightest border px-2 shadow-md hover:shadow-none dim py-1 rounded inline-block no-underline text-white hover:text-primary-color-light text-xl">next &raquo;</a>
        {{end}}
      </div>
      <div>
        {{partial "_global/footer.html" .}}     
      </div>
    </div>
  </div>
{{ end }}


        