---
layout: null
---
@import
//REQUIRED
"vendor/normalize",
"libs/bourbon/bourbon",
"base/base",
"libs/neat/neat",

// BASIC MODULES
"modules/nav-top",
"modules/hero",
"modules/footer",

//typography-icons
"modules/typography-underlines",
"vendor/fontello",
"vendor/fontello-undo",
//utilities
"modules/accessibility",

// GLOBAL
"modules/article",
"modules/layouts",
"modules/sidebar",

"modules/utilities",
"modules/wf-loading",
"modules/code",
"modules/video-embed";



.caption {
  text-transform: italic;
  font-style: italic;

}
.icon-link-ext:before, .icon-back:before { font-size:70%; }


.state-icons i{
  font-size: 230%;
  color: $black;
  display: none;
  margin: .5em auto;
    @include media($d-vp) {
      display: block;
    }
}

a.headings h2 {
  padding: 1em 1.5em;
  //padding: 1.5em 0 1.25em 3.25em;
  width: 100%;
  border-bottom: 1px solid darken($light-gray, 5%);
}

a.headings small {
  font-size: .4375em;
  font-family: $sans-serif;
}

a.headings:hover h2 {
  @include transition (all 0.2s ease-in-out);
  background-color:$redish;
  color: white;
}
a.headings:hover h2.family, .sidebar-family {
  background-color:$redish;
  color: white;
}
a.headings:hover h2.snapshot, .sidebar-snapshot {
  //background-color:$black;
  background-color: lighten($sidebar-right-color-background, 5%);
  color: white;
}
a.headings:hover h2.history, .sidebar-history {
  background-color:$brown;
  color: white;
}
.large-screens {
  display: none;
  @include media($medium-screen-up) {
    display: block;
  }
}

.small-screen-only {
  display: block;
  @include media($medium-screen-up) {
    display: none;
  }
}
