/* Use the site file to define common component classes or to prevent duplicate sets of classes in templates. */

/* Style headings */
h1,
h2,
h3 {
	@apply font-brand text-grey-darkest;
}

/* add a border to the body */

body {
	@apply border-solid border-grey-blue-darker border-r-8 border-l-8;
	min-height: 100vh;
}
.bordered {
	@apply fixed w-full border-solid border-grey-blue-darker border-4;
}
.bordered-b {
	@apply pin-t;
}
.bordered-t {
	@apply pin-b;
}

/* Create a grid for the body */

@screen xl {
	.grid-1-3 {
		grid-template-columns: 0.25fr 4fr;
	}
	.transform-90 {
		transform: rotate(-90deg);
		@apply text-4xl;
	}
}
nav .active {
	@apply text-primary-color-light;
}
