{{/*
  AddRedirects
  
  In this project, every posts with `.Params.redirect_ca` set to true should redirect
  canadian visitors to a dedicated information page.

  @author @user

  @context Any (.)

  @access public

*/}}
{{ $redirs := slice }}
{{ $pretty_permalink := site.Params.pretty_permalink }}
{{ if $pretty_permalink }}
  {{ with partialCached "func/GetPhotoPages" "GetPhotoPages" }}
    {{ range $page := . }}
      {{ if not (partialCached "func/PhotoHasData" . .) }}
        {{ $redirs = $redirs | append (dict
          "origin" (printf "/photo/%s" .Title)
          "target" (printf "/.netlify/functions/photo/?name=%s" .Title) 
          "code" 200
          "force" true
        ) }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return $redirs }}