<footer class="footer w-full text-xs font-sans" role="contentinfo">
  <div class="flex justify-between items-center">
    <div class="flex items-center">
      <a class="f7 fw4 hover:text-white no-underline px-3 color-inherit" href="{{ site.BaseURL }}" >
        &copy; {{ now.Format "2006" }} {{ site.Title }}
      </a>
      {{ with site.GetPage "/privacy-policy.md" }}
        <a class="f7 fw4 hover:text-white no-underline px-3 color-inherit" href="/privacy-policy/" >Privacy Policy</a>
      {{ end }}
      {{ partial "tnd-socials/follow" . }}
    </div>

    <a class="dn md:inline-block f7 fw4 hover:text-gray no-underline px-3 py-2 color-inherit" href="https://thenewdynamic.com" >
      site by the New Dynamic
    </a>
  </div>
</footer>
