{{ $currentPage := .page }}
{{ $menu := index .page.Site.Menus (.menu) }}
{{ with $menu }}
  <nav aria-label="{{ $.menu }}">
    <ul name="{{ $.menu }}" class="list-reset text-grey-lighter">
      {{ range . }}
        <li class="{{ .Identifier }} inline-block">
          <a class="color-inherit no-underline hover:text-primary-color-light py-1 pl-6{{ if eq $currentPage.URL .URL }} active{{ end }}" href="{{ .URL }}" title="{{ .Name }} page">
            {{ .Name }}
          </a>
          {{ if .HasChildren }}
            <ul class="list-reset">
              {{ range .Children }}
                <li class="text-base{{ if eq $currentPage.URL .URL }} active{{ end }}">
                  <a href="{{ .URL }}" class="pl-12 py-1 block hover:text-primary-color-darker  color-inherit no-underline">
                    {{ .Name }}
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </nav>
{{ end }}
{{/*
TODO (BP): Make menu show active menu within sections. Using "in" above may not be accurate.
*/}}
