---
layout: default
section: home
---
{% assign family   = site.categories.family %}<!-- | where: 'featured_image', -'nil' -->
{% assign history  = site.categories.history  %}
{% assign snapshot = site.categories.snapshot %}

<article class="hentry">
  <div class="grid js-masonry" data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>

    {% for object in history limit: 1 %}
      {% if object.featured_image %}
        <a href="{{ object.url }}" class="grid-item">
          <img src="{{ site.mediaUrlRoot }}{{ object.featured_image }}">
        </a>
      {% endif %}

    {% endfor %}

    {% for object in snapshot limit: 1 %}
      {% if object.featured_image %}
        <a href="{{ object.url }}" class="grid-item">
          <img src="{{ site.mediaUrlRoot }}{{ object.featured_image }}">
        </a>
      {% endif %}
    {% endfor %}

    {% for object in family limit: 16 %}
      {% if object.featured_image %}
        <a href="{{ object.url }}" class="grid-item">
          <img src="{{ site.mediaUrlRoot }}{{ object.featured_image }}">
        </a>
      {% endif %}
    {% endfor %}

  </div>
</article>
