---
layout: default
section: post
---
{% include posts.html %}

{% if page.images %}
    {% assign page_images = page.images %}
    {% assign imageData = site.data.images.images[page_images] %}
    {% assign base_url = imageData.base_url %}


  {% if page.photo_layout == 'slideshow' %}

    <div class="row">
      <div class="gallery js-flickity"
            data-flickity-options='{ "imagesLoaded": true, "wrapAround": true, "percentPosition": false, "autoPlay": 7200, "lazyLoad": 3}'>
        {% for image in imageData.images %}
          <img data-flickity-lazyload="{{ base_url }}{{ image[1] }}" alt="{{ image[0] }}" class="carousel-cell-image">
          <noscript>
            <img src="{{ base_url }}{{ image[1] }}" alt="{{ image[0] }}">
          </noscript>
        {% endfor %}
      </div>
    </div>

  {% elsif page.photo_layout == 'three_up' or page.photo_layout == 'two_up' %}

    <div class="grid {{ page.photo_layout | default: 'three_up' }}" id="image-container">
      <div class="grid-sizer"></div>
      {% for image in imageData.images %}
        <div class="grid-item{% cycle ' grid-item--width3', ' grid-item--width4', ' grid-item--width4', ' grid-item--width5' , ''%}">
          <img src="{{ base_url }}{{ image[1] }}" alt="{{ image[0] }}">
        </div>
      {% endfor %}
    </div>

  {% else %}

    {% for image in imageData.images %}
      <p>
        <img src="{{ base_url }}{{ image[1] }}" alt="{{ image }}" style="max-width:100%;">
      </p>
    {% endfor %}

  {% endif %}
{% endif %}
