{{ $multiple := gt (len .songs) 1 }}
<div
  id="{{ $.title | urlize }}"
  data-audioplayer
  class="js-only player max-w-audioplayer mx-auto z-50 bg-grey-blue-darkest text-sm text-center text-white my-4"
  data-songs="{{ $.songs | jsonify }}"
>
  {{ with .cover }}
    <img class="block w-full" src="{{ . }}" alt="Cover art for {{ $.title }}">
  {{ end }}

  <div class="flex flex-wrap items-center justify-between p-4">

    <div class="hidden current-time md:inline-block text-grey">
      <span class="amplitude-current-minutes" amplitude-main-current-seconds="true"></span>:
      <span class="amplitude-current-seconds" amplitude-main-current-seconds="true"></span>
    </div>
    {{ if $multiple }}
      <div class="amplitude-prev w-4 cursor-pointer" id="previous">{{ partialCached "svg/step-backward-solid.svg" "backward" }}</div>
    {{ end }}
    <div class="flex flex-wrap items-center justify-between">
      <div class="song-title w-100 py-1 md:py-0 text-grey-light">
        <span data-amplitude-song-info="copy"></span><span class="italic" data-amplitude-song-info="title"></span>
      </div>
      <div class="control-container flex flex-wrap justify-center mx-2 ">

        <div class="amplitude-play-pause cursor-pointer w-6" amplitude-main-play-pause="true">
          <div class="amplitude-paused-icon">
            {{ partialCached "svg/pause.svg" "pause" }}
          </div>
          <div class="amplitude-playing-icon">
            {{ partialCached "svg/play.svg" "play" }}
          </div>
        </div>

      </div>
    </div>
    {{ if $multiple }}
      <div class="amplitude-next w-4 cursor-pointer" id="next">{{ partial "svg/step-forward-solid.svg" "forward" }}</div>
    {{ end }}

    <div class="duration hidden md:inline-block text-grey">
      <span class="amplitude-duration-minutes" amplitude-main-duration-minutes="true">00</span>:
      <span class="amplitude-duration-seconds" amplitude-main-duration-minutes="true">00</span>
    </div>

  </div>
  
  <div class="song-navigation px-4 mb-4">
    <input type="range" class="w-full h-1 border-0 bg-white amplitude-song-slider rounded-none"/>
  </div>

  {{ if $multiple }}
    <div class="playlist border-t">
      {{ range $index, $song := $.songs }}
      <div class="song px-4 py-1 border-b amplitude-song-container amplitude-play-pause cursor-pointer" data-amplitude-song-index="{{ $index }}">
        <div class="song-meta-container">
          <div class="now-playing">Playing...</div>
          <span class="song-name" data-amplitude-song-info="title" data-amplitude-song-index="{{ $index }}"></span>
        </div>
      </div>
      {{ end }}
    </div>
  {{ end }}
</div>