<div class="relative">
  <a href="{{ .RelPermalink }}" class="relative block no-underline">
    {{ $args := dict "Page" $ "variant" "square200" }}
    {{ with partialCached "func/GetPhotoSRC" $args .RelPermalink "square200" }}
      <div class="w-full">
        <img class="block w-full" src="{{ . }}" alt="">
      </div>
    {{ end }}

  </a>
  <div class="p-2 text-sm">
    <div class="break-words"><strong>title</strong>: {{ .Title }}</div>
    {{ with .Params.artist }}
      <div><strong>by</strong>: {{ . }}</div>
    {{ end }}
  </div>
</div>