<div class="block max-w-5xl mx-auto no-underline p-4 my-4">
  <h1 class="text-4xl mb-8 break-all">{{ .Name }}</h1>
  <div class="border p-4 col-span-8">
    <img class="max-w-full" src="{{ .SRC }}" alt="{{ .Name }}">
  </div>
  <div class="">
    <h2 class="text-xl">By {{ .Artist }}</h2>
    {{ with .Classification }}
      <div class="flex flex-wrap my-8 text-xs -mx-1">
        {{ range . }}
        <div class="border mx-1 mb-2 p-1">
          {{ . }}
        </div>
      {{ end }}
      </div>
    {{ end }}
  </div>
</a>