---
layout: default
section: archive
---
{% if page.url contains '/archive/' %}
  {% assign collection = site.posts %}
{% else %}
  {% capture archive_cat %}{{ page.url | remove: '/' }}{% endcapture %}
  {% assign collection = site.categories[archive_cat] %}
  {% assign collectionTags = collection[tags] %}
{% endif %}
{% assign filters = site.data.filters %}
<div id="container-filter">
  <div class="headings">
    <input type="text" class="search" placeholder="Search {{ archive_cat | capitalize }} posts…" />
  </div>
  <div class="tags">
    {% for article in collection %}
      {% if article.vimeo OR if article.youtube OR if article.video %}
        {% assign showVideo = 'yes' %}
      {% endif %}
      {% if article.photo_layout %}
        {% assign showGallery = 'yes' %}
      {% endif %}
    {% endfor %}
    {% if showVideo == 'yes' %}
      <button id="filter-video" class="tag" style="margin:0 .5em .75em 0;">
        Video
      </button>
    {% endif %}
    {% if showGallery == 'yes' %}
      <button id="filter-photo_layout" class="tag" style="margin:0 .5em .75em 0;">
        Gallery
      </button>
    {% endif %}
    <button id="filter-none" class="small clearButton hidden">clear filters</button>
  </div>
  <div class="list-filter">
    {% for article in collection %}
     {% capture category %}{{ article.categories }}{% endcapture %}
      <a href="{{ article.url }}" class="headings">
        <h2 class="{{ article.categories}}"><span class="title">{{ article.title }}</span> <small>{% for tag in article.tags %}<span class="tag_{{ forloop.index0 }}">{{ tag }}</span>{% unless forloop.last %} &bull; {% endunless %}{% endfor %} <br /> {{ article.date | date:'%Y-%b-%d' }}</small></h2>
        {% if article.vimeo %}<span class="video hidden">video</span>{% endif %}
        {% if article.photo_layout %}<span class="photo_layout hidden">photo_layout</span>{% endif %}
      </a>
    {% endfor %}


  </div>
  <div class="pagination">
      <ul class="pagination-list"></ul>

  </div>
</div>
