---
layout: default
section: post
---
  <article class="hentry post{% if page.photo_layout %}-{{ page.photo_layout }}{% endif %}">
    {% if page.title %}
      <div class="small-screen-only">
        <header>
          <h1 class="entry-title">{{ page.title }}</h1>
          {% if page.date %}
      <time class='date' datetime="{{ page.date | date:'%Y-%m-%d' }}">
        <small>
          {{ page.date | date:'%A %b %d, %Y' }}
        </small>
      </time>
    {% endif %}
        </header>
      </div>
    {% endif %}
    {% if page.vimeo %}
      <div class='embed-container'>
        <iframe src='//player.vimeo.com/video/{{ page.vimeo }}?portrait=0&color=333' webkitallowfullscreen mozallowfullscreen frameborder='0' allowfullscreen></iframe>
      </div>
      <hr />
    {% endif %}
    <section class="entry-content prose {% if page.photo_layout %}-{{ page.photo_layout }}{% endif %}">
      {% if page.intro %}
        <div class="small-screen-only">
          {{ page.intro }}
          <hr />
        </div>
      {% endif %}

      {% if page.images %}
                {{ content }}
      <div class="gallery" id="container">
        <div class="grid-sizer"></div>
          {% assign imageData = site.data.images.images.2014-12-19-busy-week %}
          {% for image in imageData.images %}
            <p><img src="{{ imageData.base_url }}{{ image[1] }}" alt="{{ image[0] }}"></p>
          {% endfor %}
        </div>
      {% else %}
        <div class="gallery" id="container">
          <div class="grid-sizer"></div>
          {{ content }}
        </div>
      {% endif %}
    </section>
  </article>
