{{ $title := "Track" }}
{{ $file := "" }}
{{ $medias := slice }}
{{ with .Get "title" }}
  {{ $title = split . "," }}
  {{ $title = apply $title "trim" "." " " }}
{{ end }}
{{ with .Get "file" }}
  {{ $file = split . "," }}
  {{ $file = apply $file "trim" "." " " }}
{{ end }}
{{ if eq (len $title) (len $file) }}
  {{ range $index, $value := $title }}
    {{ $medias = $medias | append (dict
      "copy" ""
      "title" .
      "url" (index $file $index)
    ) }}
  {{ end }}
{{ end }}

{{ with $medias }}
  {{ partial "audioplayer" (dict 
    "songs" $medias 
    "id" (print "audioplayer-" $.Ordinal)
  ) }}
{{ end }}
