{{ with .Get "src" }}
  {{ $path := . }}
  {{ $base := "https://imagedelivery.net/Zgety72ez9NMy5vNjlIElg/" }}
  {{ $cfid := $.Get "src" }}
  {{ $original := path.Join $base $cfid .key "w320" }}
  {{ $variants := slice
    (dict
      "key" "w960"
      "media" "(min-width: 768px)"
    )
    (dict
      "key" "w640"
      "media" "(min-width: 480px)"
    )
  }}
<figure class="max-w-full">
  <picture>
    {{ range $variant := $variants }}
      <!-- base: {{ $base }} -->
      <!-- cfid: {{ $cfid }} -->
      <!-- key: {{ .key }} -->
      <source data-srcset="{{ path.Join $base $cfid .key }}" media="{{ $variant.media }}">
    {{ end }}
    <img class="lazyload" src="{{ $original }}" {{ with $.Get "text" }}alt="{{ . }}"{{ end }} {{ with $.Get "title" }} title="{{ . }}"{{ end }} />
  </picture>
  {{ with $.Get "title" }}
  <figcaption>
    <p>{{ . }}</p>
  </figcaption>
  {{ end }}
</figure>
{{ else }}
"no source"
{{ end }}
